body {
    font-family: Cambria, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #E3FFFE;
}

header {
    background-color: #1F5D85;
    color: #E3FFFE;
    display: flex;
    align-items: center;
    padding: 20px;
}
.informacio-contacte {
    background-color: #3498db;
    color: #063d61;
	border-top: 3px solid #E3FFFE;
	padding: 30px;
	margin: 0px;
	width: 20%;
    height: 748px;
   min-width: 100px;
   visibility:visible;
}
.Esquerra{
	margin-top: 50px;
}

p img {
    display: inline;
    vertical-align: middle;
    max-width: 30px;
    margin-right: 10px; 
}
a.link {
    color: #063d61; 
	text-decoration: underline;
}


.titol {
    flex: 1;
    text-align: center;
}

header h1 {
    font-size: 42px;
    margin: 0;
}

header p {
    font-size: 24px;
    margin: 0;
}

.personal-info img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

h2 {
    color: #032236;
	font-size: 30px;
}

p {
    font-size: 18px;
}

strong {
    font-weight: bold;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.experiencia {
    color: #063d61;
	text-align: left;
	margin-top: -750px;
	z-index:-1;
   margin-left: 820px;
   min-width: 300px;
}
.contingut-dreta h2{
	color: #032236;
	font-style: italic;
	font-weight: bold;

}


 .educacio{
	color: #063d61;
	text-align: left;
	margin-top: 80px;
	z-index:-1;
    margin-left: 820px;
    min-width: 300px;
	 
 }

